[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "1.35.0"
greenlet = "=2.0.2"
pyee = "==9.0.4"
typing-extensions = "==4.7.1"

[dev-packages]

[requires]
python_version = "3.11"
